.docs-nav {
  position:fixed;
}

.docs-nav .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: bold;
}

.docs-nav .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
