
@mixin include-fonts() {
  @font-face {
      font-family: "Roboto";
      src: url("#{$roboto-font-path}Roboto-Thin.woff2") format("woff2"),
          url("#{$roboto-font-path}Roboto-Thin.woff") format("woff"),
          url("#{$roboto-font-path}Roboto-Thin.ttf") format("truetype");
      font-weight: 200;
  }
  @font-face {
      font-family: "Roboto";
      src: url("#{$roboto-font-path}Roboto-Light.woff2") format("woff2"),
          url("#{$roboto-font-path}Roboto-Light.woff") format("woff"),
          url("#{$roboto-font-path}Roboto-Light.ttf") format("truetype");
      font-weight: 300;
  }

  @font-face {
      font-family: "Roboto";
      src: url("#{$roboto-font-path}Roboto-Regular.woff2") format("woff2"),
          url("#{$roboto-font-path}Roboto-Regular.woff") format("woff"),
          url("#{$roboto-font-path}Roboto-Regular.ttf") format("truetype");
      font-weight: 400;
  }

  @font-face {
      font-family: "Roboto";
      src: url("#{$roboto-font-path}Roboto-Medium.woff2") format("woff2"),
          url("#{$roboto-font-path}Roboto-Medium.woff") format("woff"),
          url("#{$roboto-font-path}Roboto-Medium.ttf") format("truetype");
      font-weight: 500;
  }

  @font-face {
      font-family: "Roboto";
      src: url("#{$roboto-font-path}Roboto-Bold.woff2") format("woff2"),
          url("#{$roboto-font-path}Roboto-Bold.woff") format("woff"),
          url("#{$roboto-font-path}Roboto-Bold.ttf") format("truetype");
      font-weight: 700;
  }
  @font-face {
    font-family: "Noto";
    src: url("#{$noto-font-path}NotoSerif-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Arual";
    src: url("#{$arual-font-path}Arual.ttf") format("truetype");
  }


      @font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("assets/fonts/SF-UI/SF-UI-Display-Ultralight.otf") format("otf");
  }

    @font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("assets/fonts/SF-UI/SF-UI-Display-Thin.otf") format("otf");
  }

    @font-face {
    font-family: "San Francisco";
    font-weight: normal;
    src: url("assets/fonts/SF-UI/SF-UI-Display-Medium.otf") format("otf");
  }

    @font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url("assets/fonts/SF-UI/SF-UI-Display-Semibold.otf") format("otf");
  }

    @font-face {
    font-family: "San Francisco";
    font-weight: bold;
    src: url("assets/fonts/SF-UI/SF-UI-Display-Bold.otf") format("otf");
  }

  @font-face {
      font-family: 'MDIcons';
      font-style: normal;
      font-weight: 400;
      src: url(#{$mdicons-font-path}MaterialIcons-Regular.eot);       src: local('MD Icons'),
           local('MDIcons-Regular'),
           url(#{$mdicons-font-path}MaterialIcons-Regular.woff2) format('woff2'),
           url(#{$mdicons-font-path}MaterialIcons-Regular.woff) format('woff'),
           url(#{$mdicons-font-path}MaterialIcons-Regular.ttf) format('truetype');
    }

    @font-face {
     font-family: $aicons-font-family;
     src:url("#{$aicons-font-path}aicons.eot?v=#{$aicons-version}");
     src:url("#{$aicons-font-path}aicons.eot?v=#{$aicons-version}#iefix") format("embedded-opentype"),
      url("#{$aicons-font-path}aicons.ttf?v=#{$aicons-version}") format("truetype"),
      url("#{$aicons-font-path}aicons.woff?v=#{$aicons-version}") format("woff"),
      url("#{$aicons-font-path}aicons.svg?v=#{$aicons-version}#Ionicons") format("svg");
     font-weight: normal;
     font-style: normal;
    }
}
%icon-style {
  display: flex;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  letter-spacing: normal;
  @include user-select(none);
  i, i:before {
    @include user-select(none);
  }

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;

    font-feature-settings: 'liga';
}


@mixin use-aicon($icon) {
  @extend %icon-style;
  font-family: $aicons-font-family;
  content: _get($ai-icons-var, $icon);
}
