
@mixin iOS-ListComponent {
  @include AIListElement;

  ai-item {
    ai-icon {
      padding-right: $gutter-xs;
    }
  }
}

@mixin iOS-ListComponent-XS {
  @include list-xs-defaults;
  ai-item {
    > .ai-icon {
      margin-right: $gutter-xs;
    }
  }
}

@mixin iOS-ListComponent-MD {
  @include list-md-defaults;
  ai-item {
    > .ai-icon {
      margin-right: $gutter-md;
    }
  }
}

@include Component(ai-list) {
  @include iOS-ListComponent();

  .theme-light &  {
    @include list-light-defaults;
  }

  .theme-dark &  {
    @include list-dark-defaults;
  }
}

@include Component-xs(ai-list) {
  @include iOS-ListComponent-XS();
}

@include Component-md(ai-list) {
  @include iOS-ListComponent-MD();
}

