
$ios-navbar-component-default: iOS-NavbarComponent;
$ios-navbar-component-screen-md: iOS-NavbarComponent-MD;
$ios-navbar-component-theme-light: iOS-NavbarComponent-Light;
$ios-navbar-component-theme-dark: iOS-NavbarComponent-Dark;
$ios-navbar-component-theme-light-opaque: iOS-NavbarComponent-LightOpaque;
$ios-navbar-component-theme-dark-opaque: iOS-NavbarComponent-DarkOpaque;

$ios-navbar-meta-screens: (
  md: $ios-navbar-component-screen-md,
) !default;

$ios-navbar-meta-themes: (
  light: $ios-navbar-component-theme-light,
  dark: $ios-navbar-component-theme-dark,
  light-opaque: $ios-navbar-component-theme-light-opaque,
  dark-opaque: $ios-navbar-component-theme-dark-opaque,
) !default;

$ios-navbar-meta: (
  default: $ios-navbar-component-default,
  screens: $ios-navbar-meta-screens,
  themes: $ios-navbar-meta-themes,
) !default;


%#{$ios-navbar-component-default} {
  @include AINavbarElement;
 

  ai-nav[left] {
    @include flex(1 0 auto);
    max-width: 33%;
  }

  ai-nav[brand] {
    @include justify-content(center);
  }

  ai-nav[left] + ai-nav[brand] {
    @include flex(1 0 auto);
    max-width: 33%;
  }
}

%#{$ios-navbar-component-screen-md} {
  @include AINavbarElement-md;
}

%#{$ios-navbar-component-theme-light} {
  @include bottom-line(theme-light(divider));
}

%#{$ios-navbar-component-theme-light-opaque} {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255,0.8);
  @include bottom-line(theme-light(divider));
  ai-nav ai-link {
    color: $dark-text;
  }
}

%#{$ios-navbar-component-theme-dark} {
  @include bottom-line(theme-dark(divider));
}

%#{$ios-navbar-component-theme-dark-opaque} {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,0.8);
  @include bottom-line(theme-dark(divider));
  ai-nav ai-link {
    color: $light-text;
  }
}

@mixin iOS-NavbarComponent($label: $ios-navbar-component-default) {
  @extend %#{$label};
  @content;
}

@mixin iOS-NavbarComponent-MD($label: $ios-navbar-component-screen-md) {
  @extend %#{$label};
  @content;
}

@mixin iOS-NavbarComponent-Light($label: $ios-navbar-component-theme-light) {
  @extend %#{$label};
  @content;
}

@mixin iOS-NavbarComponent-Dark($label: $ios-navbar-component-theme-dark) {
  @extend %#{$label};
  @content;
}

@mixin iOS-NavbarComponent-LightOpaque($label: $ios-navbar-component-theme-light-opaque) {
  @extend %#{$label};
  @content;
}

@mixin iOS-NavbarComponent-DarkOpaque($label: $ios-navbar-component-theme-dark-opaque) {
  @extend %#{$label};
  @content;
}
@mixin iOS-NavbarComponent-Dropdown {
  ai-nav-dropdown {
    @extend ai-nav;
    @extend %flexbox;
    @include flex-direction(column);
    @include flex-items(center);

    line-height: inherit;
    color: inherit;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    top: $navbar-height;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: inherit;

    .navbar-light-opaque & {
      @extend %iOS-NavbarComponent-LightOpaque;
    }
    .navbar-dark-opaque & {
      @extend %iOS-NavbarComponent-DarkOpaque;
    }

    ai-link {

    }

    &:before {
      content: " ";
      display: block;
      height: $navbar-height;
      width: 100%;
    }

    &.is-active {
    }
  }
}

@include Component(ai-navbar) {
  @include iOS-NavbarComponent;

  &.navbar-light-opaque {
    @extend %iOS-NavbarComponent-LightOpaque;
  }

  &.navbar-dark-opaque {
    @extend %iOS-NavbarComponent-DarkOpaque;
  }
}

@include Component-md(ai-navbar) {
  @include iOS-NavbarComponent-MD;
}
