<template class="ai-nav-bar ${backgroundClass} ${active ? 'active' : ''}">
  <ai-navbar-container>
    <content></content>
  </ai-navbar-container>
</template>
  <!-- <require from="./nav"></require> -->
  <!-- <ai-nav if.bind="model.back">
    <ai-icon icon="android-arrow-back" touch.call="navigateBack()"></ai-icon>
  </ai-nav>
  <ai-nav brand if.bind="model.brand">
    <ai-link>${nav.brand.title}</ai-link>
  </ai-nav>
  <ai-nav if.bind="model.navigation.length">
    <ai-link repeat.for="row of model.navigation" href.bind="row.href">
      ${row.title || row.name}
    </ai-link>
  </ai-nav> -->
