@mixin InlineButtonGroup {
  display: flex;
  max-width: 100%;
  position: relative;
  @include flex(1);
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(flex-start);

  ai-button button {
    margin: 0;
    @include flex(1);
  }

  ai-button:not(:first-child):not(:last-child) button {
    border-radius: 0;
    border-right: none;
  }

  ai-button:first-child button {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  ai-button:last-child button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &[list-button-group] {
    min-width: 100%;
    ai-button {
      min-width: 100%;
      @include flex-shrink(0);
      button  {
        min-width: 100% !important;
      }
    }
  }

}

@mixin JustifyButtonGroup {
  display: flex;
  min-width: 100%;
  max-width: 100%;
  position: relative;
  @include flex(1 0 auto);
  @include flex-wrap(wrap);
  @include flex-direction(row);

  ai-button {
    @include flex(1 0 auto);
  }

  ai-button button {
    margin: 0;
    @include flex(1);
    @include align-self(strech);
  }

  ai-button:not(:first-child):not(:last-child) button {
    border-radius: 0;
    border-right: none;
  }

  ai-button:first-child button {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  ai-button:last-child button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &[list-button-group] {
    min-width: 100%;
    ai-button {
      min-width: 100%;
      @include flex-shrink(0);
      button  {
        min-width: 100% !important;
      }
    }
  }
}


@mixin StackButtonGroup {
  display: flex;
  max-width: 100%;
  position: relative;
  @include flex(0 1 auto);
  @include flex-direction(column);

  ai-button {
    flex: 1 0 auto;
    min-width: 100%;
  }

  ai-button button {
    margin: 0;
    @include flex(1);
    @include align-self(strech);
  }

  ai-button:not(:first-child):not(:last-child) button {
    border-radius: 0;
    border-bottom: none;
  }

  ai-button:first-child button {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  ai-button:last-child button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &[list-button-group] {
    min-width: 100%;
    ai-button {
      min-width: 100%;
      @include flex-shrink(0);
      button  {
        min-width: 100% !important;
      }
    }
  }
}
