@mixin AIMediaElement {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  img {
    @include transform(translate3d(0,0,0));
    transform-origin: center;
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
}
