
$components: () !default;
$components-xs: () !default;
$components-sm: () !default;
$components-md: () !default;
$components-lg: () !default;
$components-xl: () !default;
$root-components: () !default;
$end-components: () !default;

@mixin RootComponent($name) {
  %root-component-#{$name} {
    @content;
  }
  $root-components: map-set($root-components, $name, (name: $name)) !global;
}

@mixin EndComponent($name) {
  %end-component-#{$name} {
    @content;
  }
  $end-components: map-set($end-components, $name, (name: $name)) !global;
}

@mixin Component($name) {
  %component-#{$name} {
    @content;
  }
  $components: map-set($components, $name, (name: $name)) !global;
}
@mixin Component-xs($name) {
  %xs-component-#{$name} {
    @content;
  }
  $components-xs: map-set($components-xs, $name, (name: $name)) !global;
}

@mixin Component-sm($name) {
  %sm-component-#{$name} {
    @content;
  }
  $components-sm: map-set($components-sm, $name, (name: $name)) !global;
}

@mixin Component-md($name) {
  %md-component-#{$name} {
    @content;
  }
  $components-md: map-set($components-md, $name, (name: $name)) !global;
}

@mixin Component-lg($name) {
  %lg-component-#{$name} {
    @content;
  }
  $components-lg: map-set($components-lg, $name, (name: $name)) !global;
}


@mixin load-component($name, $media:false) {
  @if $media {
    @if $media == xs {
      $component: map-get($components-xs, $name);
      @if $component {
        #{$name} {
          @extend %xs-component-#{$name};
        }
      }
    }
    @else if $media == sm {
      $component: map-get($components-sm, $name);
      @if $component {
        #{$name} {
          @extend %sm-component-#{$name};
        }
      }
    }
    @else if $media == md {
      $component: map-get($components-md, $name);
      @if $component {
        #{$name} {
          @extend %md-component-#{$name};
        }
      }
    }
    @else if $media == lg {
      $component: map-get($components-lg, $name);
      @if $component {
        #{$name} {
          @extend %lg-component-#{$name};
        }
      }
    }
    @else if $media == xl {
      $component: map-get($components-xl, $name);
      @if $component {
        #{$name} {
          @extend %xl-component-#{$name};
        }
      }
    }
  } @else {
    $component: map-get($components, $name);
    @if $component {
      #{$name} {
        @extend %component-#{$name};
      }
    }
  }
}

@mixin load-root() {
  @each $name, $component in $root-components {
    $root: map-get($root-components, $name);
    @if $root {
      @extend %root-component-#{$name};
    }
  }
}

@mixin load-end() {
  @each $name, $component in $end-components {
    $end: map-get($end-components, $name);
    @if $end {
      @extend %end-component-#{$name};
    }
  }
}

@mixin load-all($media:false) {
  @include load-root();
  @each $name, $component in $components {
    @include load-component($name);
  }
  @if $media == with-media {
    @each $label, $breakpont in $breakpoints {
      @include breakpoint($label) {
        $comps: ();
        @if $label == xs {$comps: $components-xs}
        @else if $label == sm {$comps: $components-sm}
        @else if $label == md {$comps: $components-md}
        @else if $label == lg {$comps: $components-lg}

        @each $name, $com in $comps {
          #{$name} {
            @extend %#{label}-component-#{$name};
          }
        }
      }
    }
  }
  @include load-end();
}
