@function pixel($value) {
    @return unquote($value + px);
}


@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}



@function exists($map, $keys...) {
    $value: $map;
    $last: null;
    @if _is-list($keys) {
        $last: _last($keys);
        $keys: _drop($keys);
    }
    @each $key in $keys {
        $value: map-fetch($value, $key);
    }
    @if $last != null {
        @return map-has-key($value, $last);
    }

    @return not not $value;
}

@function map-fetch($map, $keys...) {
  $value: $map;
  @each $key in $keys {
    $value: _get($value, $key);
  }
  @return $value;
}

@function is-map($map) {
    @return type_of($map) == map;
}

@function is-list($list) {
  @return type_of($list) == list;
}


@mixin _map-rules($props) {
  @if is-map($props) {
    @include _declare($props);
  }
}

