
$button-settings: (
  size: (
    small: (
      min-width:   em(48),
      font-size:   em(12),
      font-weight: 400,
      line-height: 1.6,
    ),
    medium: (
      min-width:   em(64),
      font-size:   em(14),
      font-weight: 400,
      line-height: em(36),
      max-height: em(36),
      padding: 0 em(16),
    ),
    large: (
      min-width:   em(80),
      font-size:   em(16),
      font-weight: 400,
      line-height: em(48),
      'max-height': em(48),
      padding: 0 em(16),
    )
  )
) !global;


$popover-settings: (
  unit: em(56),
  gutter: em(24),
  margin: em(20),
  element: (
    border-radius: em(2)
  ),
  content: (
    margin: 0,
    color: color(dark),
    font-size: em(16),
    font-weight: 400,
  ),
  header: (
    color: color(dark),
    font-size: em(24),
    font-weight: 400,
    margin-bottom: em(24)
  ),
  actions: (
    border-top-width: 1px,
    border-top-style: solid,
    border-top-color: color(light),
    margin: 0,
    padding: 0,
    max-height: em(52),
  )
)!global;

$switch-bar--width   : 34px !default;
$switch-bar--height  : 14px !default;
$switch-handle--size : 20px !default;
$switch--boxShadow   : 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
