














































































































































@include select-theme(light) {
  ai-accordion > ai-item {
    background-color: theme-light(paper);
    color: theme-light(text);
  }
  ai-accordion[border-accordion] > ai-item > item-header {
    @include bottom-line(theme-light(divider));
  }
}

@include select-theme(dark) {
  ai-accordion > ai-item {
    background-color: theme-dark(paper);
    color: theme-dark(text);
  }
  ai-accordion[border-accordion] > ai-item > item-header {
    @include bottom-line(theme-dark(divider));
  }
}
