
ai-checkbox {
  @include AICheckboxElement;
  @include flex(1 0 auto);
  @include align-items(center);
  min-height: 3em;
  line-height: 3em;
  display: flex;
  position: relative;
  background-color: theme-color(light, paper);

  input[type="checkbox"] {
    @include CheckboxElement;
    display: flex;
    padding-right: $base-gutter-xs;
    @include align-items(center);
    @include justify-content(center);
    &:before {
      color: color(dark);
      @include use-aicon(android-checkbox-outline-blank);
    }
    &:checked:before {
      color: color('green', 500);
      @include use-aicon(android-checkbox);
    }
  }
}


@include select-theme(light) {
  ai-checkbox {
  }
}

@include select-theme(dark) {
  ai-checkbox {
  }
}
