

ai-list {
  @include AIListElement;

  .ai-icon {
    padding-right: 0;
    min-width: sub-$gutter-xs;
    max-width: sub-$gutter-xs;
  }

  ai-list-header {
    font-size: em(14);
    text-transform: uppercase;
  }
}

@include from-screen(xs) {

  @include list-xs-defaults;
  ai-list {
    ai-avatar {
      $sub-gutter: sub-$gutter-xs; - em(32);
      margin-right: $sub-gutter;
    }
  }
}

@include from-screen(md) {
  @include list-md-defaults;
  ai-list {
    ai-avatar {
      $sub-gutter: sub-gutter(md) - em(32);
      margin-right: $sub-gutter;
    }
  }
}

@include select-theme(light) {
  @include list-light-defaults;
}

@include select-theme(dark) {
  @include list-dark-defaults;
}
