ai-navbar {
  @include AINavbarElement;
  background-color: $grey-200;
  color: $grey-800;

  ai-nav[left] {
    max-width: 72px;
    padding-left: $gutter-xs;
    @include breakpoint(md) {
      max-width: 80px;
      padding-left: $gutter-md;
    }
    span, a {
      color: inherit;
    }
  }

  ai-nav[left] {
  }

  ai-nav[brand] {
    @include justify-content(flex-start);
    margin-left: 72px;
  }

  ai-nav[left] + ai-nav[brand] {
    margin-left: 0;
  }

  ai-nav[right] {
    margin-left: auto;
  }
}

@include from-screen(md) {
  ai-navbar {
    @include AINavbarElement-md;
  }
}
