ai-switch {
  @include AISwitchElement;
  display: flex;
  margin: 0px 0;

  input[type="checkbox"] {
    width: em(34);
    height: em(14);
    min-width: em(34);
    min-height: em(14);
    background-color: #9E9E9E;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: 400ms all;
    transition: 400ms all;
    margin: 0 0 0 0;
    display: inline-block;
    border-radius: 50px;
    outline: 0;
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    animation: input 4s;
    @include transform(translateZ(0));
    &:checked, &[type="checkbox"].checked {
      background: #53D669;
      box-shadow: inset 0 0 0 15px #53D669;
      transition: 250ms all;
      @include transform(translateZ(0));
    }

    &:before {
      width: em(20);
      height: em(20);
      background-color: #FAFAFA;
      content:'';
      transition: 300ms all;
      position: absolute;
      left: -5%;
      top: -4px;
      display: block;
      border-radius: 40px;
      background: #FFFFFF;
      box-shadow:  $switch--boxShadow;
      animation: button 3s ease-out;
      @include transform(translateZ(0));
    }

    &:checked:before, &.checked:before {
      background-color: #4CAF50;
      left: 50%;
    }

    &.red:checked { background: #FF4F2F; box-shadow: inset 0 0 0 15px #FF4F2F; }
    &.orange:checked { background: #FFAC42; box-shadow: inset 0 0 0 15px #FFAC42; }
    &.yellow:checked { background: #FFE842; box-shadow: inset 0 0 0 15px #FFE842; }
    &.green:checked { background: #50DF3D; box-shadow: inset 0 0 0 15px #50DF3D; }
    &.blue:checked { background: #40A7ED; box-shadow: inset 0 0 0 15px #40A7ED; }
    &.purple:checked { background: #AF57EC; box-shadow: inset 0 0 0 15px #AF57EC; }

  }
}


@include select-theme(light) {
  ai-switch {
    background-color: theme-light(paper);
    [border-list] > &:not(:last-child) label {
      @include bottom-line(theme-light(divider));
    }
    [border-list] > &:last-child {
      @include bottom-line(theme-light(divider));
    }
    ai-item & > {background-color: transparent}
  }

}

@include select-theme(dark) {
  ai-switch {
    background-color: theme-dark(paper);
    [border-list] > &:not(:last-child) label {
      @include bottom-line(theme-dark(divider));
    }
    [border-list] > &:last-child {
      @include bottom-line(theme-dark(divider));
    }
    ai-item & > {background-color: transparent}
  }
}


