
[border-line] {
  position: relative;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    max-width: 1px;
    min-width: 1px;
    background-color: $black-4;
  }
}

[border-line="left"],
[border-line="right"] {
  &:after {
    bottom: 0;
    top: 0;
  }
}

[border-line="top"],
[border-line="bottom"] {
  &:after {
    left: 0;
    right: 0;
  }
}

[border-line="left"] {
  &:after {
    left: 0;
  }
}

[border-line="right"] {
  &:after {
    right: 0;
  }
}

[border-line="top"] {
  &:after {
    top: 0;
  }
}

[border-line="bottom"] {
  &:after {
    bottom: 0;
  }
}



