[ai-press] {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;

  > pressure-point {
    display: block;
    @include transform(scale(0));

    -webkit-animation-timing-function: cubic-bezier(.11,.23,.02,.97);
            animation-timing-function: cubic-bezier(.11,.23,.02,.97);

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    -webkit-animation-duration: 200ms;
            animation-duration: 200ms;

    -webkit-animation-name: ai-press-enter;
            animation-name: ai-press-enter;

    -webkit-transform-origin: center;
            transform-origin: center;

    left: 0;
    top: 0;
    position: absolute;
    background-color: $black-4;
    border-radius: 100%;
    height: 2px;
    width: 2px;

    &.au-leave {
      -webkit-animation-name: ai-press-leave;
              animation-name: ai-press-leave;
    }
  }
}

@each $name, $color in $base-colors {
  [ai-press~="#{$name}"] {
    > pressure-point {
      background-color: $color;
    }
  }
}

@keyframes ai-press-enter {
  0% {
    @include transform(scale(0));
  }

  100% {
    @include transform(scale(200));
  }
}

@-webkit-keyframes ai-press-enter {
  0% {
    @include transform(scale(0));
  }

  100% {
    @include transform(scale(200));
  }
}

@keyframes ai-press-leave {
  0% {
    @include transform(scale(200));
  }

  100% {
    @include transform(scale(0));
  }
}

@-webkit-keyframes ai-press-leave {
  0% {
    @include transform(scale(200));
  }

  100% {
    @include transform(scale(0));
  }
}
