@mixin AIAccordionComponent {
  background-color: white;
  margin: 0 0 $gutter-xs 0;
  padding: 0;

  > ai-item {
    @extend %flexbox;
    @include flex-direction(column);
    @include transition-default;
    position: relative;
    outline:none;
    &:focus, &:active {
      outline: none;
    }

    > .ai-icon:first-child {
      min-width: 72px;
      @include breakpoint(md) {
        min-width: 80px;
      }
    }
    > *:first-child {
      @extend %flexbox;
      @include flex-direction(row);
      max-height: 48px;
      padding-left: $gutter-xs;
      @include breakpoint(md) {
        padding-left: $gutter-md;
      }
    }

    item-container {
      @extend %flexbox;
      @include flex-direction(column);
      position: relative;
      height: auto;
      width: 100%;
      display: none;
    }
  }
}
