

@mixin AICardListElement {
  display: flex;
  position: relative;
  @include flex(1 0 auto);
  @include flex-direction(column);
  @include justify-content(flex-start);
}


@mixin AICardElement-xs {
  > ai-tile[media] {
    max-height: 15rem;
  }
}


@mixin AICardElement-md {

  > ai-tile[media] {
    max-height: 100%;
  }
}

@mixin AICardElement-Light {
  background-color: theme-light(paper);

  > ai-tile:not([color]) {
    color: theme-light(text);
  }
  > ai-tile[footer]:not([color]) {
    color: theme-light(label);
  }
  > ai-tile[media] {
    > ai-tile:not([bg]) {
      background-color: theme-light(paper-light);
    }
  }

  > ai-tile[title],
  > ai-tile[header],
  > ai-tile[body] {
    &:not(:last-child) {
      @include bottom-line(theme-light(divider));
    }
  }
}

@mixin AICardElement-Dark {
  background-color: theme-dark(paper);
  > ai-tile:not([color]) {
    color: theme-dark(text);
  }
  > ai-tile[footer]:not([color]) {
    color: theme-dark(label);
  }
  > ai-tile[media] {
    > ai-tile:not([bg]) {
      background-color: theme-dark(paper-light);
    }
  }

  > ai-tile[title],
  > ai-tile[header],
  > ai-tile[body] {
    &:not(:last-child) {
      @include bottom-line(theme-dark(divider));
    }
  }
}
