@mixin AIGridListElement {

  @extend %flexbox;
  @include flex(1 0 auto);
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include flex-content(flex-start);

  &[columns] {
    padding-top: $gutter-xs;
  }

  &[columns~="2"] > * {
    @include flex-direction(row);
    padding-left: $gutter-xs;
    padding-bottom: $gutter-xs;

    > * {
      margin: 0 $gutter-xs; 0 0;
      @include flex(1 0 auto);
    }
  }

  ai-flex {
    @extend %flexbox;
    @include flex-items(center);
    @include justify-content(center);
  }
}
