
@mixin create-layout($navbar, $sidebar:null) {
  @include create-navbar($navbar);

  $height: $navbar-height;
}

@mixin AILayoutElement {
  @extend %flexbox;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: #f1f1f1;
  overflow-x: hidden !important;
  overflow-y: hidden !important;

  ai-host {
    @extend %flexbox;
    @include flex-direction(row);
    @include scroll-element();
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  ai-router-view,
  router-view {
    @extend %flexbox;
    @include flex-direction(column);
    position: relative;
    width: 100%;
    height: 100%;
  }

  ai-view {
    @extend %flexbox;
    @include flex-direction(column);
    @include flex(1);
  }
}

@include RootComponent(ai-layout) {
  .browser-ie,
  .browser-firefox,
  .sidebar-content {
    height: 1200px;
    width: 100%;
  }
}


@mixin AILayoutElement-xs {

}

@mixin AILayoutElement-md {

}

@mixin AILayoutElement-lg {

}

