


@mixin AIListElement {
  display: flex;
  min-width: 100%;
  min-height: em(48);
  line-height: em(48);
  position: relative;
  flex-shrink: 0;
  flex-grow: auto;
  @include flex-direction(column);
  font-weight: normal;
  @include transform(translateZ(0));
  > ai-checkbox,
  > ai-switch,
  > ai-radio,
  > ai-item {
    display: flex;
    max-width: 100%;
    min-height: inherit;
    position: relative;
    outline: none;
    @include flex(0 1 auto);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include transform(translateZ(0));
    input {
      min-height: inherit;
    }

    &[align-top] {
      @include align-items(flex-start);
    }
    > item-container {
      min-height: inherit;
    }
    > item-container,
    > control-container {
      display: flex;
      position: relative;
      @include flex(1);
      @include flex-direction(column);
     
      padding-left: 0;
      padding-bottom: 8px;
      padding-top: 8px;

    }

    accordion-container {
      @extend %flexbox;
      @include flex-direction(column);
      @include order(10);
      position: relative;
      height: auto;
      width: 100%;
      display: none;
    }

    label,
    ai-tile {
      display: flex;
      overflow: hidden;
      padding: 0;
      @include flex(1);
    }

    label {
      margin: 0 !important;
      line-height: 20px;
      font-size: em(16);
      font-weight: 400;
      @include flex-direction(column);
    }

    ai-tile[title] {
      line-height: 20px;
      font-size: em(18);
      font-weight: bold;
      &:not(:last-child) {
        max-height: 20px;
      }
    }

    ai-tile[support] {
      line-height: 20px;
      font-size: em(14);
      font-weight: 400;
      max-height: 20px;
    }

    ai-tile[text] {
      line-height: 20px;
      font-size: em(16);
      font-weight: 400;
      max-height: (20px * 4);
    }

    ai-tile[title] ~ ai-tile[text] {
      max-height: (20px * 3);
    }

    ai-tile[title] ~ ai-tile[support] ~ ai-tile[text] {
      max-height: (20px * 2);
    }
    ai-tile:only-child {
      max-height: 100%;
      line-height: inherit;
    }

    ai-media {
      margin-right: $gutter-xs;
      height: 80px;
      width: 80px;
      img {
        height: 80px;
        width: 80px;
      }
    }

    ai-avatar {
      height: 100%;
      margin-top: 1em;
      margin-right: $gutter-xs;
      @include align-self(flex-start);
    }
  }
 
 
  > ai-switch {
    control-container {
     
     
    }
  }

  &[border-list] {
    > ai-checkbox,
    > ai-switch,
    > ai-radio,
    > ai-item {
      &:last-child,
      &:not(:last-child) > item-container,
      &:not(:last-child) > control-container {
        @include bottom-line($black-4);
      }
    }
  }

  ai-item > ai-icon,
  ai-item > md-icon {
    @include flex(0 1);
    padding-right: 2em;
  }

  ai-item > ai-icon.ai-icon[caret] {
    @extend %flexbox;
    @include justify-content(flex-end);
    position: absolute;
    line-height: inherit;
    min-height: inherit;
    min-width: auto;
    right: 0;
    top: 0;
    margin: 8px 0 0 0;
    padding-right: $gutter-xs;
    color: $black-2;
  }
  ai-item.is-active > ai-icon.ai-icon[caret] i {
    @include transition-default;
    @include transform(rotate(90deg));
  }

  &[list-controls] {
    > ai-radio,
    ai-checkbox {
      transform-origin: left;
      overflow: hidden;
      visibility: visible;
      opacity: 1;
      @include transform(scaleX(1));
    }
  }

  &.hide-controls {
    > ai-radio,
    ai-checkbox {
      visibility: hidden;
      opacity: 0;
      width: 0;
      @include transform(scaleX(0));
    }
  }

  ai-list-header {
    display: flex;
    position: relative;
    min-height: em(48);
    padding-top: em(32);
    padding-bottom: em(12);
    padding-left: $gutter-xs;
    padding-right: $gutter-xs;
    font-weight: 400;
    @include bottom-line();
    @include flex-basis(auto);
    @include flex-shrink(0);
    ai-button, ai-button button {
      margin: 0;
    }
  }

  ai-item control-container {display: none}
  ai-item {
    ai-checkbox,
    ai-switch,
    ai-radio {
      @include flex(0 1 auto);
      padding-left: 0;
      min-height: inherit;
      input {
        min-height: inherit;
      }
    }
  }

  > ai-button {
    margin: 0;
    min-width: 100%;
    button {
      margin: 0;
      @include flex(1);
    }
    @include flex(1 0 auto);
    &:not(:last-child) {
      @include bottom-line($black-2);
    }
  }
  > ai-item > item-container item-container,
  > ai-item > accordion-container item-container {
    padding-top:0 !important;
    padding-bottom:0 !important;
  }
}

@mixin list-light-defaults {
  ai-list {
   

    > ai-checkbox,
    > ai-switch,
    > ai-radio,
    > ai-item {
      background-color: $white;
      color: $dark-text;

      > ai-icon.ai-icon[caret] {
        color: $black-2;
      }

      ai-tile {
        color: $dark-text;
      }

      ai-tile[text] {
        color: $dark-text;
      }
    }

    ai-list-header {
      color: $black-2;
    }

    ai-list-header {
      @include bottom-line($black-4);
    }

    &[border-list] {
      > ai-checkbox,
      > ai-switch,
      > ai-radio,
      > ai-item {
        &:last-child,
        &:not(:last-child) > item-container,
        &:not(:last-child) > control-container {
          @include bottom-line($black-4);
        }
      }
    }
  }
}

@mixin list-dark-defaults {
  ai-list {
   
    > ai-checkbox,
    > ai-switch,
    > ai-radio,
    > ai-item {
      background-color: $white;
      color: $dark-text;

      > ai-icon.ai-icon[caret] {
        color: $black-2;
      }

      ai-tile {color: $dark-text}

      ai-tile[text] {color: $dark-text}
    }

    ai-list-header {
      color: $black-2;
      @include bottom-line($black-4);
    }

    &[border-list] {
      > ai-checkbox,
      > ai-switch,
      > ai-radio,
      > ai-item {
        &:last-child,
        &:not(:last-child) > item-container,
        &:not(:last-child) > control-container {
          @include bottom-line($black-4);
        }
      }
    }
  }
}

@mixin list-xs-defaults {
  ai-list {
    > ai-checkbox,
    > ai-switch,
    > ai-radio,
    > ai-item {
      padding-left: $gutter-xs;
      > .ai-icon,
      > item-container,
      > control-container {padding-right: $gutter-xs;}

      > md-icon {padding-right: $gutter-xs;}
    }

    ai-list-header {padding-left: $gutter-xs;}
  }
}

@mixin list-md-defaults {
  ai-list {
    > ai-checkbox,
    > ai-switch,
    > ai-radio,
    > ai-item {
      padding-left: $gutter-md;
      > .ai-icon
      > item-container,
      > control-container {padding-right: $gutter-md}

      > md-icon {padding-right: $gutter-md;}
    }

    ai-list-header {padding-left: $gutter-md}
  }
}




