@mixin AISelectElement {

  display: flex;
  max-width: 100%;
  padding-top: em(16);
  margin-top: em(16);
  margin-bottom: em(16);
  outline: none;
  padding-left: $gutter-xs;
  position: relative;
  @include flex-wrap(wrap);

  content-container {
    display: none;
  }

  label {
    @include large-label();
    position: absolute;
    left: 0;
    z-index: 10;
    margin: 0;
    height: 100%;
    left: 56px;
    display: flex;
    @include align-items(center);
  }

  select-container {
    max-height: em(48);
    min-height: em(48);
    position: relative;
    @include flex(1);
  }


  select-header {
    display: flex;
    position: relative;
    min-width: inherit;
    min-height: inherit;
    @include flex(1);
    @include transition-default;
    .header-content {
      z-index: 2;
      display: flex;
      background-color: theme-light(paper);
      min-height: 100%;
      min-width: 100%;
      height: 100%;
      width: 100%;
      position: absolute;
      @extend %shadow-2dp;
      input[type="search"] {
        @include flex(1);
        border: none;
        outline: none;
       
      }

      ai-icon {
        @include justify-content(flex-start);
      }

      ai-icon[search] {
        @include order(-1);
      }

      ai-icon[caret] {
        @include order(2);
      }
    }

    ul.select-options {
      display: flex;
      background-color: theme-light(paper);
      min-width: 100%;
      max-height: em(48 * 6);
      position: absolute;
      height: 0px;
      list-style: none;
      font-size: em(16);
      font-weight: 400;
      box-shadow: none;
      overflow: auto;
      z-index: 100;
      margin: 0;
      padding:0;
      @include flex-direction(column);
      @include transform(translate3d(0, 48px, 0));

      li {
        cursor: pointer;
        &:hover {
          background-color: theme-light(divider);
        }
      }

      > li {
        position: relative;
        display: flex;
        @include align-items(center);
        padding-left: $gutter-xs;
        min-width: 100%;
        max-height: 48px;
        min-height: 48px;
        @include flex(1);
        @include transition-default;

        group-heading {height: em(32)}
        > ul {
          list-style: none;
          li {
            padding-left: $gutter-xs;
            height: 48px;
          }
        }
      }
    }
  }

  &.is-active {

    .header-content {}

    ai-icon[search] {
     
     
     
     
    }
  }
}

@mixin SelectElement {
  display: none;
}

@mixin AISelectElement-xs {
  padding-right: gutter(xs);
  label {
  }
}
@mixin AISelectElement-md {
  padding-right: gutter(md);
  label {
  }
}
@mixin AISelectElement-Light {
  background-color: theme-light(paper);
}
@mixin AISelectElement-Dark {
  background-color: theme-dark(paper);
}

@include EndComponent(ai-select) {

}
