@mixin AISelectListElement {

  @extend %flexbox;
  @include flex-column;
  @include transform(translate3d(0, 0, 0));
  @include transition-default;
  min-width: 100%;
  max-width: 100%;
  position: relative;

  &.active-item {
    @include transform(translate3d(-100%, 0, 0));
  }


  ai-select-item {
    @extend %flexbox;
    @include flex-row;
    @include flex-shrink(0);
    position: relative;
    line-height: em(48);


    select-container {
      @extend %flexbox;
      @include flex-direction(column);
      @include transform(translateX(100%));
      min-width: 100%;
      overflow: auto;
      position: absolute;
      line-height: inherit;
      right: 0;

      div.select-option {
        @include flex-shrink(0);
        cursor: pointer;
        line-height: inherit;
        padding-left: 20%;
      }
    }

    &:not(:first-child) {
      select-container {
        top: -100%;
      }
    }

    select-item {

      @extend %flexbox;
      @include flex(1 0);
      position: relative;
      cursor: pointer;
      line-height: inherit;
      padding-left: $gutter-xs;

      span {
        text-align: right;
        padding-right: $gutter-xs;
        @include flex(1);
      }


      .ai-icon[caret] {
        @include flex(0 1 auto);
        line-height: inherit;
        padding-right: $gutter-xs;
        color: theme-light(icon);

        i {
          line-height: inherit;
          @include transform(rotate(-90deg))
        }
      }
    }
  }

  select {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

@mixin AISelectListElement-xs {

  ai-select-item {
    select-item {
      padding-left: $gutter-xs;

      span,
      .ai-icon[caret] {
        padding-right: $gutter-xs;
      }
    }
  }
}

@mixin AISelectListElement-md {

  ai-select-item {
    select-item {
      padding-left: $gutter-md;

      span,
      .ai-icon[caret] {
        padding-right: $gutter-md;
      }
    }
  }
}
