
$button-settings: (
  size: (
    small: (
      min-width:   0,
      font-size:   em(12),
      font-weight: 400,
      line-height: em(16),
      padding:     em(5),
    ),
    medium: (
      min-width:   0,
      font-size:   em(14),
      font-weight: 400,
      line-height: em(27),
      padding:     0 em(10),
    ),
    large: (
      min-width:   0,
      font-size:   em(16),
      font-weight: 400,
      line-height: em(44),
      padding:     0 em(10),
    )
  )
) !global;

$popover-settings: (
  unit: em(56),
  gutter: em(24),
  margin: em(20),
  element: (
    border-radius: em(2)
  ),
  content: (
    margin: 0,
    color: $dark-text,
    font-size: em(16),
    font-weight: 400,
  ),
  header: (
    color: $dark-text,
    font-size: em(24),
    font-weight: 400,
    margin-bottom: em(24)
  ),
  actions: (
    border-top-width: 1px,
    border-top-style: solid,
    border-top-color: $light-text,
    margin: 0,
    padding: 0,
    max-height: em(52),
  )
)!global;

$switch-bar--width   : 50px !default;
$switch-bar--height  : 30px !default;
$switch-handle--size : 20px !default;
$switch--boxShadow   : 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 2px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.1);
