@mixin Base-AlertElement {
  @extend %flexbox;
  @include flex-direction(column);
  @include flex(1 0 auto);
  border-style: solid;
  border-width: 1px;
  padding-top: $gutter-xs;
  margin: 0 $gutter-xs 1em $gutter-xs;
  border-radius: 4px;

  > ai-content {
    padding: 0 $gutter-xs;
  }

  &[type="primary"] {
    @include alert-varient($primary, $primary-hue-1);
  }

  &[type="accent"] {
    @include alert-varient($accent, $accent-hue-1);
  }

  &[type="success"] {
    @include alert-varient($green, $green-50);
  }

  &[type="warning"] {
    @include alert-varient($amber, $amber-50);
  }

  &[type="error"] {
    @include alert-varient($red, $red-50);
  }
}

@mixin alert-varient($main, $light) {
  > ai-heading {
    color: $main;
  }
  border-color: $main;
  background-color: $light;
}



ai-alert {
  @include Base-AlertElement;
}

@include breakpoint(md) {
  ai-alert {
    padding-top: $gutter-md;
    margin: 0 $gutter-md 1em $gutter-md;

    > ai-content {
      padding: 0 $gutter-md;
    }
  }
}
