

$base-checkbox-element-default: Base-CheckboxElement;
$base-checkbox-element-light:   Base-CheckboxElement-Light;
$base-checkbox-element-dark:    Base-CheckboxElement-Dark;

$base-checkbox-meta: (
  default: $base-checkbox-element-default,
  light:   $base-checkbox-element-light,
  dark:    $base-checkbox-element-dark
) !default;


@mixin Base-CheckboxElement {
  @include AICheckboxElement;
  display: flex;
  padding-left: $gutter-xs;
  background-color: $white;
  @include flex(1 0 auto);
  @include align-items(center);

  input[type="checkbox"] {
    @include CheckboxElement;
    display: flex;
    padding-right: $gutter-xs;
    @include align-items(center);
    @include justify-content(center);
    &:before {
      color: $dark-text;
      @include use-aicon(base-circle-outline);
    }
    &:checked:before {
      color: $light-blue;
      @include use-aicon(base-checkmark);
    }
  }
}
@mixin Base-CheckboxElement-Light {

}
@mixin Base-CheckboxElement-Dark {

}

%#{$base-checkbox-element-default} {
  @include Base-CheckboxElement;
}
%#{$base-checkbox-element-light} {
  @include Base-CheckboxElement-Light;
}
%#{$base-checkbox-element-dark} {
  @include Base-CheckboxElement-Dark;
}

@include Component(ai-checkbox) {
  @include Base-CheckboxElement;

  .theme-light & {
    ai-checkbox {
      @include Base-CheckboxElement-Light;
    }
  }

  .theme-dark & {
    ai-checkbox {
      @include Base-CheckboxElement-Dark;
    }
  }
}
