@mixin menu-icon($next:false) {
  @if $next == false {
    ai-icon {
      @include justify-content(center);
      @include flex-items(center);
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include justify-content(center);
        @include flex-items(center);
        @include use-aicon(navicon);
        @include transition-default;
      }
    }

    i {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include transition-default;
      &:after,
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @include transition-default;
        @include align-items(center);
        @include justify-content(center);
        @include transform-origin(center);
        @include use-aicon(android-remove);
      }
    }
  } @else {
    ai-icon {
      &:before {
        opacity: 0;
      }
    }
    i {
      opacity: 1;

      &:before {
        @include transform(rotate(45deg));
      }
      &:after {
        @include transform(rotate(135deg));
      }
    }
  }
}
