

$base-input-element-default: Base-InputElement;
$base-input-element-light:   Base-InputElement-Light;
$base-input-element-dark:    Base-InputElement-Dark;



$base-input-element-themes: (
  light: $base-input-element-light,
  dark: $base-input-element-dark
);

$base-input-meta: (
  default: $base-input-element-default,
  themes: $base-input-element-themes,
) !default;

@mixin Base-InputElement {
  @include AIInputElement;
}

@mixin Base-InputElement-Light {
  @include default-input-lightTheme();
}
@mixin Base-InputElement-Dark {
  @include default-input-darkTheme();
}

%#{$base-input-element-light} {
  @include Base-InputElement-Light;
}
%#{$base-input-element-dark} {
  @include Base-InputElement-Dark;
}

@include Component(ai-input) {
  @extend %#{$base-input-element-default};

  .theme-light & {
    ai-input {
      @extend %#{$base-input-element-light};
    }
  }

  .theme-dark & {
    ai-input {
      @extend %#{$base-input-element-dark};
    }
  }
}
