

@mixin Base-RadioElement {
  @include AIRadioElement;
  display: flex;
  @include flex(1 0 auto);
  @include align-items(center);
  background-color: $white;

  input[type="radio"] {
    @include RadioElement;
    display: flex;
    font-size: em(22);
    padding-right: $gutter-xs;
    position: absolute;
    right: 0;
    min-height: 100%;
    @include order(1);
    @include align-items(center);
    @include justify-content(center);

    &:before {
      color: $dark-text;
      @include use-aicon(base-checkmark-empty);
      @include transform(scale(0));
    }
    &:checked:before {
      color: $light-blue;
      @include transform(scale(1));
    }
  }
}

@include Component(ai-radio) {
  @include Base-RadioElement;
  .theme-light & {}
  .theme-dark & {}
}
