ai-collection {

  @extend %flexbox;
  @include flex-direction(column);
  @include transform(translate3d(0,0,0));
  position: relative;

  ai-collectable {
    @extend %flexbox;
    @include flex(1 0 auto);
    @include flex-direction(column);
    background-color: $white;
    line-height: 48px;
    min-height: 48px;

    ai-heading {
      @extend %flexbox;
      @include flex(1 0 auto);
      max-height: 48px;
      line-height: 48px;
      border-bottom: 1px solid $black-4;
      margin:0;

      ai-icon,.ai-icon {
        position: absolute;
        right: 0;
        top: 0;
        &[caret] i {
          &:before,
          &:after {
            @include align-items(center);
            @include justify-content(center);
            @include use-aicon(android-remove);
            @include transition-default();
            @include transform-origin(center);
          }
          &:after {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            left: 0;
          }

        }
      }
    }

    ai-content {
      @extend %flexbox;
      height: auto;
      @include flex(1 0 auto);
      display: none;
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: hidden;
      padding: $gutter-xs;
    }

    &.is-active ai-heading ai-icon i {
      &:before {
        @include transform(rotate(90deg));
      }
    }
  }
}



@include breakpoint(xs) {
  ai-collection {
    ai-content {
      padding: $gutter-md;
    }
  }
}
