$base-dialog-component: Base-DialogComponent;


@mixin Base-DialogOverlay {
  @extend %OverlayContainerDefaults;
  @include order(19);
  z-index: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);

  @include at-browser(safari) {
    background-color: transparent !important;
    @include blur-backface(1rem);
  }

  animation-timing-function: ease;
  animation-duration: 500ms;
  animation-name: dialog-overlay-enter;
  animation-fill-mode: forwards;

  &.au-leave {
    animation-name: dialog-overlay-leave;
  }
}

@mixin Base-DialogContainer {

  @extend %OverlayContainerDefaults;
  @include justify-content(center);
  @include flex-items(center);
  @include flex-direction(column);
  @include transform(translate3d(0,0,0));
  z-index: 2;

  ai-dialog-content {

    @extend %flexbox;
    @extend %shadow-16dp;
    @include flex-direction(column);
    @include transform(scale(1));
    background-color: white;
    height: auto;
    min-width: 3rem * 5;
    max-width: 3rem * 10;
    margin: 0 auto;
    position: relative;
    width: auto;
    border-radius: 0;

   
    > ai-heading,
    > ai-content,
    > ai-footer {

      padding-left: 24px;
      padding-right: 24px;
      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }

      &:first-child {
        padding-top: 24px;
      }

      &:not(:last-child) {
        padding-bottom: 24px;
      }
    }

   
    > ai-actions,
    > [actions],
    > .actions {
      @extend %flexbox;
      @include justify-content(flex-end);
      padding: 4px;

      > * {
        padding: 0;
        margin: 4px;
      }

      > ai-button {
        margin: 4px;
      }

      > ai-button button {
        margin: 0;
      }
    }
  }
}
ai-dialog-viewport {

  ai-overlay {
    @include Base-DialogOverlay;
  }


  ai-dialog-container {
    @include Base-DialogContainer;
  }

  .browser-safari {
    ai-overlay {
      background-color: transparent !important;
      @include blur-backface(1rem);
    }
  }
}


ai-dialog {
  display: none;
}


ai-dialog-content {
  animation-name: dialog-content-enter;
  animation-fill-mode: forwards;
  @include animation-default();

  &.au-leave {
    animation-name: dialog-content-leave;
  }
}

@keyframes dialog-content-enter {
  0% {
    @include transform(scale(2));
    opacity: 0;
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

@keyframes dialog-content-leave {
  0% {
    @include transform(scale(1));
    opacity: 1;
  }
  100% {
    @include transform(scale(2));
    opacity: 0;
  }
}


@keyframes dialog-overlay-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dialog-overlay-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
