
@mixin Base-SidebarComponent {
  @include AISidebarElement;
}

ai-app-sidebar {
  @extend %flexbox;
  @include flex-direction(column);
  z-index: 2;
  width: 0;
  position: relative;
  overflow-x: hidden;

  background-color: $sidebar-background;

  @if $enable-sidebar-border {
    border-right-width: $sidebar-border-width;
    border-right-style: $sidebar-border-style;
    border-right-color: $sidebar-border-color;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    ~ * ai-sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
    }
  }

  &.is-open {
    width: $sidebar-width;
    max-width: $sidebar-width;
    ~ * ai-sidebar {
      width: $sidebar-width;
      max-width: $sidebar-width;
    }
  }

  &[has-navbar] {
    &:before {
      content: " ";
      display: block;
      @include align-self(flex-start);
      height: $navbar-height;
      max-height: $navbar-height;
      width: 100%;
    }
  }

  ai-sidebar-slot {
    @extend %flexbox;
    @include flex(1);
  }
}

ai-sidebar {
  @extend %flexbox;
  &.is-open {
    width: $sidebar-width;
    max-width: $sidebar-width;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}

ai-app-bar ~ ai-app-sidebar {
  &.is-fixed {
    top: $navbar-height;
    z-index: 1;

    &[has-navbar] {
      &:before {
        display: none;
      }
    }
  }
}














