ai-heading {
  font-size: em(14);
  text-transform: uppercase;
  line-height: 1;
  margin: em(35) em(15) em(10);
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  font-weight: 500;
}

@include select-theme(light) {
  ai-heading {
    color: theme-light(secondary);
  }
}

@include select-theme(dark) {
  ai-heading {
    color: theme-dark(secondary);
  }
}
