
ai-checkbox {
  @include AICheckboxElement;
  display: flex;
  position: relative;
  @include flex(1 0 auto);
  @include align-items(center);
  padding-left: $gutter-xs;
  background-color: theme-color(light, paper);

  input[type="checkbox"] {
    @include CheckboxElement;
    display: flex;
    padding-right: 0;
    @include align-items(center);
    @include justify-content(center);
    &:before {
      min-width: sub-$gutter-xs;
      max-width: sub-$gutter-xs;
      color: color(dark);
      @include use-aicon(android-checkbox-outline-blank);
    }
    &:checked:before {
      color: color('green', 500);
      @include use-aicon(android-checkbox);
    }
  }
}

@include from-screen(md) {
  ai-checkbox {
    padding-left: gutter(md);
    input[type="checkbox"] {
      padding-right: 0;
      &:before {
        min-width: sub-$gutter-md;
        max-width: sub-$gutter-md;
      }
    }
  }
}

@include select-theme(light) {
  ai-checkbox {
  }
}

@include select-theme(dark) {
  ai-checkbox {
  }
}
