
ai-input {
  @include AIInputElement;

  &[stack-ai] {
    @include text-input--variant(stack);
  }
  &[inline-ai] {
    @include text-input--variant(inline, $no-placeholders:true);
  }
  &[float-ai] {
    @include floating-label();
  }

  &.is-focused input-border:after,
  textarea:focus  ~ input-border:after,
  textarea:active ~ input-border:after,
  input:focus  ~ input-border:after,
  input:active ~ input-border:after {
    min-height: 2px;
    @include transform(scaleX(1));
  }
}

@include from-screen(md) {
  ai-input {
    padding-left: gutter(md);
    &:last-child {
      padding-bottom: gutter(md);
    }
    ai-icon {
      &:before {
        min-width: sub-$gutter-md;
      }
    }
  }
}

@include select-theme(light) {
  @include default-input-lightTheme();
}

@include select-theme(dark) {
  @include default-input-darkTheme();
}
