ai-radio {
  @include AIRadioElement;
  display: flex;
  @include flex(1 0 auto);
  @include align-items(center);
  padding-left: $base-gutter-xs;
  background-color: theme-color(light, paper);

  input[type="radio"] {
    @include RadioElement;
    display: flex;
    padding-right: 0;
    @include align-items(center);
    @include justify-content(center);
    &:before {
      min-width: sub-$gutter-xs;
      max-width: sub-$gutter-xs;
      color: color(dark);
      @include use-aicon(android-radio-button-off);
    }
    &:checked:before {
      color: color('light-blue', 500);
      @include use-aicon(android-radio-button-on);
    }
  }

  &[align-right] {
    @include order(2);
  }
}

@include from-screen(md) {
  ai-radio {
    padding-left: $base-gutter-md;
    input[type="radio"] {
      padding-right: 0;
      &:before {
        min-width: sub-$gutter-md;
        max-width: sub-$gutter-md;
      }
    }
  }
}

@include select-theme(light) {
  ai-radio {
  }
}

@include select-theme(dark) {
  ai-radio {
  }
}
