.viewbar-placeholder {
  @include AIViewBarElement;
  min-width: 100%;
  min-height: 3rem;
  max-height: 3rem;
  position: relative;
}

ai-view-bar {
  @include AIViewBarElement;
  min-width: 100%;
  max-height: 3rem;
  min-height: 3rem;
  z-index: 11;
  background-color: rgba(255,255,255,0.8);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-backdrop-filter: blur(3rem);
  backdrop-filter: blur(3rem);

  bar-left,
  bar-right,
  bar-center {
    @include flex(1);
    @include align-items(center);
  }

  bar-left {
    max-width: em(72);
    @include justify-content(flex-start);
  }

  bar-right {
    @include justify-content(flex-end);
  }

  bar-center {
    @include justify-content(flex-start);
  }

  ai-navigate-back {
    ai-button, button {
      margin: 0;
      padding-left: 0;
    }
  }
}

@include from-screen(md) {
  .viewbar-placeholder,
  view-bar {
    min-height: 4rem;
    max-height: 4rem;
  }

  view-bar bar-left {
    padding-left: $base-gutter-md;
    max-width: em(80);
  }

  view-bar bar-right {
    padding-right: $base-gutter-md;
  }
}
