<header id="mainHeader" class="navbar-fixed-top" role="banner">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="index.html">
          <img src="images/main-logo.png" alt="Aurelia"/>
        </a> 
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="<%= current.source=='index'?'active':'' %>"><a href="index.html#home"><i class="icon-home-outline"></i>Home</a> </li>
          <li class="<%= current.source=='get-started'?'active':'' %>"><a href="get-started.html"><i class="icon-flash"></i>Get Started</a> </li>
          <li class="<%= current.source=='docs'?'active':'' %>"><a href="docs.html"><i class="icon-doc"></i>Docs</a> </li>
          <li><a href="http://blog.durandal.io/"><i class="icon-star"></i>Blog</a> </li>
        </ul>
      </div>
    </nav>
  </div>
</header>