<%- partial("_header") %>

<link href="css/prism.css" rel="stylesheet" />
<link href="css/markdown.css" rel="stylesheet" />

<section class="slice color1">
  <div class="container">
    <div class="row">
      <%- yield %>
    </div>
  </div>
</section>

<script src="js/prism.js"></script>