@mixin iOS-HeadingElement {
  font-size: em(14);
  text-transform: uppercase;
  line-height: 1;
  margin: em(35) $gutter-xs em(10);
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  font-weight: 500;
}


@include Component(ai-heading) {

  ai-heading {
    @include iOS-HeadingElement;
  }

  .theme-light & {
    ai-heading {
      color: $dark-text;
    }
  }

  .theme-dark & {
    ai-heading {
      color: $light-text;
    }
  }
}
