
$AI_FRAMEWORK_EXPORT: null !default;

@if not $AI_FRAMEWORK_EXPORT {
  @import 'framework';
}


@keyframes tooltip-top {
  from {
    @include transform(scale(0));
  }
  to {
    @include transform(scale(1));
  }
}

@keyframes tooltip-bottom {
  from {
    @include transform(scale(0));
  }
  to {
    @include transform(scale(1));
  }
}

@keyframes tooltip-left {
  from {
    @include transform(scale(0));
  }
  to {
    @include transform(scale(1));
  }
}

@keyframes tooltip-right {
  from {
    @include transform(scale(0));
  }
  to {
    @include transform(scale(1));
  }
}


@keyframes popover-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes dialog-scaleup {
  0% {
    @include transform(scale(1.2));
  }
  100% {
    @include transform(scale(1));
  }
}

@keyframes ai-select-rotateChangeIcon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    @include use-aicon(search);
    transform: rotate(180deg);
  }
  100% {
    height: 100%;
    @include use-aicon(search);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ai-select-rotateChangeIcon {
  0% {
    transform: rotate(0deg);
  }
  50% {
   
    transform: rotate(180deg);
  }
  100% {
    height: 100%;
   
    transform: rotate(360deg);
  }
}

@keyframes slideDown {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
    @extend %shadow-8dp;
  }
}
@-webkit-keyframes slideDown {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
    @extend %shadow-8dp;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes slideInRight {
  0% {
    @include transform(translateX(0));
  }
  100% {
    @include transform(translateX(-100vw));
  }
}

@keyframes slideOutRight {
  0% {
    @include transform(translateX(-100vw));
  }
  100% {
    @include transform(translateX(0));
    opacity: 0;
  }
}


@keyframes ai-nav-drop-active {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 0;
  }
}
