

$current-element: false;
$current-bindable: false;
$current-binding: false;
$binding-container: ();
$test:null;
@mixin customElement($name) {
  $current-element: $name !global;
  @content;
}

@mixin _() {
  @at-root {
    #{$current-element} {
      @content;
    }
  }
}

@mixin constructor() {
  @at-root {
    #{$current-element} {
      @content;
    }
  }
}

@mixin state($name) {
  #{$current-element}.is-#{$name} {
    @content;
  }
}

@mixin bindable($attr:false, $value:false, $class:false) {

  @if $attr {
    $current-bindable: $attr !global;
    $current-binding: 'attr' !global;
    @if $value {
      #{$current-element}[#{$attr}=#{$value}] {
        @content;
      }
    }
    @else {
      @content;
    }
  }
  @else if $class {
    $current-bindable: $class !global;
    $current-binding: 'class' !global;
    @if $value {
      #{$current-element}.#{$class} {
        @content;
      }
    } @else {
      @content;
    }
  }
}

@mixin when($value:true) {
  @if $current-binding == 'attr' {
    #{$current-element}[#{$current-bindable}="#{$value}"] {
      @content;
    }
  } @else if $current-binding == 'class' {
    @if $value == false {
      #{$current-element}:not(".#{$current-bindable}") {
        @content;
      }
    } @else {
      $s: "#{$current-element}.#{$current-bindable}";
      #{$s} {
        @content;
      }
    }
  }
}

@mixin customAttribute($name) {
  [#{$name}] {
    @content;
  }
}

@function bindable($name) {
  $instruction:();
  $base-instruction:(
    type: attr,
    name: false,
  );

  @if type-of($name) == map {
    $instruction: map-merge($name, $base-instruction);
    $name: map-get($instruction, name);
  } @else {
    $instruction:map-merge($base-instruction, (
      name: $name
    ));
  }

  $binding-container:map-set($binding-container, $name, $instruction) !global;
  @return $instruction;
}
@mixin bindable($name) {
  $binding: bindable($name);
}


@mixin changed($name, $value:false) {
  $name: if(type-of($name) == map, map-get($name, name), $name);
  $binding: map-get($binding-container, $name);
  @if type-of($binding) == map {
    $type: map-get($binding, type);
    @if $type == attr {
      $selector: if($value,"#{$current-element}[#{$name}=#{$value}]", "#{$current-element}[#{$name}]");
      #{$selector} {
        @content;
      }
    }
  }
}
