

@mixin large-label {
  font-size: em(16);
  font-weight: 400;
  line-height: inherit;
}

@mixin small-label {
  font-size: em(12);
  font-weight: 400;
  line-height: inherit;
}

@mixin stack-label() {
  label {
    @include small-label;
    display: flex;
    @include flex(0 0 100%);
  }
}

@mixin inline-label() {
  label {
    display: flex;
    @include large-label;
    @include align-items(center);
    margin-right: em(12);
    &:after {
      content: ":";
    }
  }
}

@mixin active-float-label() {
  @include transform(translateY(0));
  @include small-label;
}
@mixin float-label($active:false) {
  @if $active {
    @include active-float-label;
  } @else {
    display: flex;
    position: absolute;
    top: 0;
    @include large-label;
    @include flex(0 0 100%);
    @include transform(translateY(0));
  }
}
