%shadow-1dp  { box-shadow: $shadow-1dp  };
%shadow-2dp  { box-shadow: $shadow-2dp  };
%shadow-3dp  { box-shadow: $shadow-3dp  };
%shadow-4dp  { box-shadow: $shadow-4dp  };
%shadow-6dp  { box-shadow: $shadow-6dp  };
%shadow-8dp  { box-shadow: $shadow-8dp  };
%shadow-16dp { box-shadow: $shadow-16dp };

%color-primary {color: $primary};
%i-color-primary {color: $primary !important}
%bg-primary {background-color: $primary}
%i-bg-primary {background-color: $primary !important}
%color-accent {color: $accent}
%i-color-accent {color: $accent !important}
%bg-accent {background-color: $accent}
%i-bg-accent {background-color: $accent !important}
%light-text {color: $light-text}
%i-light-text {color: $light-text !important}
%dark-text  {color: $dark-text}
%i-dark-text  {color: $dark-text !important}

%transition-timing {@include transition-default}
%animation-timing {@include animation-default}


@mixin __ai-create-color-placeholder($name, $num:null) {
  $label: if($num, "#{$name}-#{$num}", $name);
  %i-color-#{$label} {
    color: color($name, $num) !important;
  }
  %color-#{$label} {
    color: color($name, $num);
  }
  %i-bg-#{$label} {
    background-color: color($name, $num) !important;
  }
  %bg-#{$label} {
    background-color: color($name, $num)
  }
}

@each $name, $color in $ai-colors {
  @include __ai-create-color-placeholder($name);

  @each $num, $hex in $color {
    @include __ai-create-color-placeholder($name, $num);
  }
}

